<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oscar.loginoscarhg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SaludoActivity" />

        <activity android:name=".SaludoActivity"/>
        <activity android:name=".LinearLayoutEjemplo" android:parentActivityName=".SaludoActivity"/>
        <activity android:name=".TableLayoutEjempo" android:parentActivityName=".SaludoActivity"/>
        <activity android:name=".RelativeLayoutEjemplo" android:parentActivityName=".SaludoActivity"/>
        <activity android:name=".AbsoliteLayoutEjemplo" android:parentActivityName=".SaludoActivity"/>
        <activity android:name=".FrameLayoutEjemplo" android:parentActivityName=".SaludoActivity"/>
        <activity android:name=".GridLayoutEjemplo" android:parentActivityName=".SaludoActivity"/>
        <activity android:name=".ConstraintLayoutEjemplo" android:parentActivityName=".SaludoActivity"></activity>
    </application>

</manifest>